.app {
  margin: 0 auto;
  max-width: 800px;
}


.appSearchPanel {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
