.form-outline {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 20px;
}
  
.inputSearch {
  background-color: rgba(255,255,255, .7 ) !important;
}

@media (max-width: 575px) {
  .appSearchPanel .form-outline {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}